* {
  --primary-color:#800020;
  --primary-color-rgb: 53, 78, 51;
  --secondary-color:#800020;
  --secondary-color-rgb: 121, 141, 122;
  --background:#f2f2f2;
  --title-font-color: #800020;
  --body-font-color: #100305;
  --dark-body-font-color: rgba(253, 248, 248, 0.75);
  --bg-color-even: #E8E8E8;
  --bg-color-odd: #F4F4F4;
  --bg-dark-1:#800020;
  --bg-dark-1-rgb: 53, 78, 51;
  --bg-dark-2: #373dac;
  --bg-dark-3:#800020;
  --bg-dark-3-rgb: 46, 69, 44;
  --bg-grey: #800020;
  --bg-light: #d88181;
}
